{{ $usedIcons := .Scratch.Get "mod-icons" }}
{{ $stats := .Scratch.Get "mod-icons_usage" }}
{{ if $stats }}
  {{ $bytes := 0 }}
  {{ $dups := slice }}
  {{ $usedBytes := 0 }}
  {{ range $usedIcons }}
      {{ $usedBytes = add $usedBytes (len .res.Content) }}
      {{ $cumulated := mul (index $stats .id) (len .res.Content) }}
      {{ $bytes = add $bytes $cumulated }}
      {{ if gt (index $stats .id) 1 }}
        {{ $dups = append .id $dups }}
      {{ end }}
  {{ end }}

  {{ warnf `
  mod-icons / stats 📈
  --------------------
  * %d Bytes used by icons
  * %d Bytes saved opposing to simple inlining approach
  * Icons that are duplicated: %v 
  --------------------
  ` $usedBytes (sub $bytes $usedBytes) (cond (gt (len $dups) 0) $dups "None") }}
  {{ .Scratch.Delete "mod-icons_usage" }}
{{ end }}