{{ if not (.Scratch.Get "mod-icons") }}
  {{ range $alias, $resolve := .Site.Data.icons }}
    {{ $_ := partial "icon" (dict "context" $ "name" $alias) }}
  {{ end }}
{{ end }}

{{ $usedIcons := .Scratch.Get "mod-icons" }}
{{ $enableAutoTitle := default true site.Params.mod_icons.enableAutoTitle }}
{{ if $usedIcons }}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      {{ range $usedIcons }}
        <!-- Unpack SVG -->
        {{ $content := replaceRE `<svg .*?>` "" (replaceRE `</svg>` "" .res.Content) }}
        <!-- Get viewbox -->
        {{ $viewBox := (replaceRE `.*viewBox="(.*?)".*` "$1" .res.Content) }}
        <symbol id="icon-{{ .id }}" viewBox="{{ $viewBox }}">
          {{ with .label }}<title>{{ . }}</title>{{ end }}
          {{ with .description }}<desc>{{ . }}</desc>{{ end }}
          {{ $content | safeHTML }}
        </symbol>
      {{ end }}
  </svg>
  {{ if .Site.Params.mod_icons.enableStats }}
    {{ partial "icon-stats" . }}
  {{ end }}
{{ else }}
  {{ warnf "mod-icons: no used icons found. please ensure that the 'icon-data' partial is loaded LAST in your body!" }}
{{ end }}
